/* ==========================
   SECTION
========================== */

.categories {
    background: #ffff;
    color: #22623a;
    padding: 140px 7%;
}

.categories__container {
    max-width: 1500px;
    margin: 0 auto;
}

/* ==========================
   HEADER
========================== */

.categories__header {
    max-width: 760px;
    margin-bottom: 90px;
}

.categories__eyebrow {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: .85rem;
    color: rgba(53, 158, 32,.8);
    margin-bottom: 22px;
}

.categories__title {
    font-size: clamp(3rem,7vw,6rem);
    line-height: .95;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 30px;
}

.categories__subtitle {
    font-size: 1.05rem;
    line-height: 1.9;
    color: rgba(53, 158, 32,.8);
    max-width: 650px;
}

/* ==========================
   GRID
========================== */

.categories__grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
}

/* ==========================
   CARD
========================== */

.categories__card {

    background: transparent;

    border: none;

    border-top: 1px solid rgba(53, 158, 32,.8);

    padding: 35px 0;

    display: flex;

    align-items: flex-start;

    justify-content: space-between;

    gap: 25px;

    color: #22623a;

    text-align: left;

    cursor: pointer;

    transition: .35s;

}

.categories__card:hover {

    transform: translateY(-8px);

}

.categories__icon {

    font-size: 2rem;

    flex-shrink: 0;

    opacity: .8;

}

.categories__card h3 {

    font-size: 1.8rem;

    text-transform: uppercase;

    line-height: 1.1;

    margin-bottom: 15px;

    font-weight: 700;

}

.categories__card p {

    color: rgba(53, 158, 32,.8);

    line-height: 1.8;

    max-width: 260px;

}

.categories__arrow {

    font-size: 1.5rem;

    opacity: .4;

    transition: .35s;

}

.categories__card:hover .categories__arrow {

    opacity: 1;

    transform: translateX(8px);

}

/* ==========================
   RESPONSIVE
========================== */

@media (max-width:1100px){

    .categories__grid{

        grid-template-columns:repeat(2,1fr);

    }

}

@media (max-width:768px){

    .categories{

        padding:90px 30px;

    }

    .categories__grid{

        grid-template-columns:1fr;

    }

    .categories__title{

        font-size:3rem;

    }

}