.price {

    background: #fff;

    color: #22623a;

    padding: 140px 8%;

}

.price__container {

    max-width: 1200px;

    margin: auto;

}

.price__eyebrow {

    text-transform: uppercase;

    letter-spacing: 6px;

    color: rgba(53, 158, 32,.8);

    margin-bottom: 20px;

    font-size: .85rem;

}

.price__title {

    font-size: clamp(3rem,7vw,6rem);

    text-transform: uppercase;

    line-height: .95;

    margin-bottom: 35px;

    font-weight: 800;

}

.price__subtitle {

    max-width: 700px;

    color: rgba(53, 158, 32,.8);

    font-size: 1.1rem;

    line-height: 1.9;

    font-weight: 900;

    margin-bottom: 60px;

}

.price__features {

    display: grid;

    grid-template-columns: repeat(2, minmax(260px,1fr));

    gap: 30px;

    margin-bottom: 60px;

}

.price__feature {

    display: flex;

    align-items: center;

    gap: 20px;

    padding: 24px;

    border-top: 1px solid rgba(53, 158, 32,.15);

}

.price__check {

    font-size: 1.5rem;

    font-weight: 700;

    color: #22623a;

    font-weight: 900;

}

.price__button {

    display: inline-block;

    padding: 18px 40px;

    border: 1px solid #22623a;

    color: #22623a;

    text-decoration: none;

    text-transform: uppercase;

    letter-spacing: 2px;

    transition: .35s;

}

.price__button:hover {

    background: #22623a;

   color: #ffff;

}

@media (max-width:900px){

.price{

padding:90px 30px;

}

.price__features{

grid-template-columns:1fr;

}

.price__title{

font-size:3rem;

}

}